export LC_ALL=en_US.UTF-8
export PATH="$HOME/.local/bin:$PATH"
export LIBRARY_PATH=/usr/local/lib
export BAT_THEME="Catppuccin Mocha"
export RYE_HOME="$HOME/opt/rye"
export FZF_DEFAULT_OPTS="--tmux center,90%,50%"
export FZF_CTRL_T_OPTS="--walker file --walker-skip .vscode,__pycache__,.git,node_modules,target --preview 'bat --color=always --style=numbers --line-range=:500 {}'"
export FZF_ALT_C_OPTS="--preview 'eza --tree -L 2 {}'"
export KEYTIMEOUT=1
export SSH="$HOME/.ssh"
export GOROOT="$HOME/opt/go"
export PATH="$GOROOT/bin:$PATH"
export GOPATH="$HOME/go"
export PATH="$GOPATH/bin:$PATH"
