export LC_ALL=en_US.UTF-8
export LIBRARY_PATH=/usr/local/lib
export BAT_THEME="Catppuccin Mocha"
export RYE_HOME="$HOME/opt/rye"
export FZF_DEFAULT_OPTS="--tmux center,90%,50%"
export FZF_CTRL_T_OPTS="--walker file --walker-skip .vscode,__pycache__,.git,node_modules,target --preview 'bat --color=always --style=numbers --line-range=:500 {}'"
export FZF_ALT_C_OPTS="--preview 'eza --tree -L 2 {}'"
export KEYTIMEOUT=1
export SSH="$HOME/.ssh"
export XDG_CONFIG_HOME="$HOME/.config"
export LOCAL_BIN="$HOME/.local/bin"
export LOCAL_SHARE="$HOME/.local/share"
export ZSH_CACHE_DIR="$LOCAL_SHARE/zsh"
export PATH="$HOME/.local/bin:$PATH"
export FPATH="$LOCAL_SHARE/zsh/completions:$FPATH"
export STARSHIP_CONFIG="$XDG_CONFIG_HOME/starship/starship.toml"
export EDITOR=nvim
export CARGO_HOME=$HOME/.cargo
export RUSTUP_HOME=$HOME/.rustup
export PATH="$CARGO_HOME/bin:$PATH"
export PATH="~/.local/share/nvim/mason/bin/basedpyright:$PATH"
export GOROOT="$HOME/opt/go"
export PATH="$GOROOT/bin:$PATH"
export GOPATH="$HOME/Code/go"
export JAVA_HOME="$HOME/opt/jdk-17/Contents/Home"
export PATH="$JAVA_HOME/bin:$PATH"
export PATH="$PATH:$HOME/opt/gradle-8.14/bin"
